# General
node_modules/
dist/

# IDE/Editor specific
.vscode/
.idea/

# Build related
*.log
npm-debug.log*

# Environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# Dependency directories
pnpm-lock.yaml
yarn.lock

# Mac specific
.DS_Store

# TypeScript specific
*.tsbuildinfo

# ESLint
.eslintcache

# Jest
coverage/

# Parcel
.cache/

# Next.js
.next/
out/

# Nuxt.js
.nuxt/


# VuePress
.vuepress/dist/

# Yarn
.pnp.*
.pnp.js

# Babel
/dist
/lib

# Cypress
/cypress/videos/
/cypress/screenshots/
